OPENROUTER_API_KEY=***REDACTED***
TERMINAL_MODAL_IMAGE=***REDACTED***
TERMINAL_TIMEOUT=***REDACTED***
TERMINAL_LIFETIME_SECONDS=***REDACTED***
BROWSERBASE_PROXIES=***REDACTED***
BROWSERBASE_ADVANCED_STEALTH=***REDACTED***
BROWSER_SESSION_TIMEOUT=***REDACTED***
BROWSER_INACTIVITY_TIMEOUT=***REDACTED***
WEB_TOOLS_DEBUG=***REDACTED***
VISION_TOOLS_DEBUG=***REDACTED***
MOA_TOOLS_DEBUG=***REDACTED***
IMAGE_TOOLS_DEBUG=***REDACTED***
MINIMAX_API_KEY=***REDACTED***
HERMES_MAX_ITERATIONS=***REDACTED***
TELEGRAM_BOT_TOKEN=***REDACTED***
TELEGRAM_ALLOWED_USERS=***REDACTED***
TELEGRAM_HOME_CHANNEL=***REDACTED***
DISCORD_BOT_TOKEN=***REDACTED***
DISCORD_ALLOWED_USERS=***REDACTED***
DISCORD_HOME_CHANNEL=***REDACTED***
EXA_API_KEY=***REDACTED***
PERSONAL_AI_BASE_URL=***REDACTED***
PERSONAL_AI_API_KEY=***REDACTED***
PERSONAL_AI_REMOTE_URL=***REDACTED***
PERSONAL_AI_USER_ID=***REDACTED***
OPENROUTER_API_KEY=***REDACTED***
